.banner {
    width: 100vw;
    height: 50vh;
    margin: 10px;
    overflow: hidden;
}


.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bannerImage {
        object-position: 50% 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Extra large devices (large laptops and desktops, 1000px and up) */
/* @media only screen and (min-width: 1000px) {} */

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .bannerImage {
        object-position: 50% 30%;
    }

}
