.contactContainer {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10%;
}

.contactBody {
    display: block;
    margin: auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nameContainer {
    display: flex;
    flex-direction: row;
}

.formContainer > input {
    width: 100%;
    height: 2rem;
    margin-top: 10px;
}
