.skeletonContainer {
    position: relative;
    margin: 3px;
    max-width: 30vw;
    max-height: 3%;
    animation: skeletonLoaderAnim 2s ease-in infinite;
    border-color: rgba(73, 73, 73, 0.387);
    border-width: 3px;
    border-style: double;
}

@keyframes skeletonLoaderAnim {
    0%{
        background-color: rgb(188, 191, 163);
    }
    50%{
        background-color: #F1F1EF;
    }
    100%{
        background-color: rgb(188, 191, 163);
    }
}

.imagesSpreadContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.imagesSpreadColumn1  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagesSpreadColumn2  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.imageContainer {
    position: relative;
    cursor: pointer;
    margin: 5px;
    opacity: 0;
}

/* This media breakpoint targets screens with hover capabilities */
@media (hover:hover){
    .imageContainer > img {
        max-width: 30vw;
        height: auto;
        transform: translateY(0px);
        clip-path: circle(100%);
        transition: clip-path 500ms ease-in-out, transform 500ms ease-in-out;
    }
    
    .imageContainer:hover > img {
        transform: translateY(-1.5px);
        clip-path: circle(35%);
        transition: clip-path 500ms ease-in-out, transform 500ms ease-in-out;
    }
}

.fadeInImage {
    transition: opacity 1000ms;
    opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .skeletonContainer {
        margin: 5px;
        max-width: 90vw;
        max-height: 30em;
        margin-top: 5%;
    }

    .imagesSpreadContainer {
        display: flex;
        flex-direction: column;
        margin-top: 25%; 
    }

    .imagesSpreadColumn1  {
        display: block;
        flex-direction: column;
        margin: auto; 
    }
    
    .imagesSpreadColumn2  {
        display: block;
        flex-direction: column;
        margin: auto;
    }

    .imageContainer > img {
        max-width: 90vw;
        height: auto;
        transform: translateY(0px);
        clip-path: circle(100%);
        transition: clip-path 500ms ease-in-out, transform 500ms ease-in-out;
        padding-top: 5%;
    }
    .imageContainer:nth-last-child(-n + 1){
        padding-bottom: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Extra large devices (large laptops and desktops, 1000px and up) */
@media only screen and (min-width: 1000px) {
    .skeletonContainer {
        margin: 5px;
        max-width: 25vw;
        max-height: 4%;
    }

    .imageContainer > img {
        max-width: 25vw;
        height: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .skeletonContainer {
        margin: 5px;
        max-width: 20vw;
        max-height: 7%;
    }

    .imageContainer > img {
        max-width: 20vw;
        height: auto;
    }
}
