.imagesSpreadContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.imagesSpreadColumn1  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.imagesSpreadColumn2  {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 100px;
}

.imageContainer {
    max-width: fit-content;
    max-height: fit-content;  
    cursor: pointer;
    margin: 10px;
}

.imageContainer > img {
    max-width: 40vw;
    transform: translateY(0px);
    clip-path: circle(100%);
    transition: clip-path 200ms ease-in, transform 200ms ease-in;

}

.imageContainer:hover > img {
    transform: translateY(-2px);
    clip-path: circle(35%);
    transition: clip-path 500ms ease-in, transform 200ms ease-in;
}
