.postSpread {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: auto;
}

#post {
    margin: 10px;
}

.postContainer, .carouselContainer {
    width: 300px;
    height: 290px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    opacity: 0;
    overflow: hidden; 
    transform: translateY(70%); 
}

.postContainer img, .carouselContainer img, .carouselContainer video {
    display: flex;
    width: 100%;
}

.arrowContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #F1F1EF;
    opacity: 0.5;
    padding: 2px;
    margin: 5px;
}

.arrowContainer:hover, #arrow:hover {
    opacity: 1;
}

#backArrow {
    left: 5%;
}

#forwardArrow {
    right: 5%;
}

#arrow {
    opacity: 0.5;
    cursor: pointer;
}
