.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-color: #ffcba4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightboxContainer {
    display: flex;
    align-items: center;
}

.innerContainer > img {
    max-width: 70vw;
    max-height: 70vh;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nextButton {
    margin-top: 3rem;
    position: fixed;
    right: 2%;
}

.nextImage {
    animation: forwardAnim 500ms linear;
}

@keyframes forwardAnim {
    0% {
        transform: translateX(-200px);
    } 100% {
        transform: translateX(0px);
    }
}

#prevButton {
    margin-top: 3rem;
    position: fixed;
    left: 2%;
}

.previousImage {
    animation: backAnim 500ms linear;
}

@keyframes backAnim {
    0% {
        transform: translateX(200px);
    } 
    100% {
        transform: translateY(0px);
    }
}

.lightboxButton {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

@media (hover:hover){
    .lightboxButton:hover {
        color: #F1F1EF;
    }
}

#closeButton {
    position: fixed;
    top: 2%;
}

.lightboxEntrance {
    animation: lightboxIntroAnim 1s ease forwards;
}

@keyframes lightboxIntroAnim {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
    }
}

.lightboxExit{
    animation: lightboxExitAnim 1s linear;
}

@keyframes lightboxExitAnim {
    from {
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-25px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #nextButton {
        margin-top: 1rem;
        position: absolute;
        right: 0%;
        padding: 10%;
        bottom: 5%;
    }

    #prevButton {
        margin-top: 1rem;
        position: absolute;
        left: 0%;
        padding: 10%;
        bottom: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
