.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-color: #ffcba4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.closeContainer > img {
    width: auto;
    height: 400px;
    animation: lightboxEntrance 400ms ease-in-out;
}

.closeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lightboxButton {
    margin: .5rem;
    cursor: pointer;
}

@keyframes lightboxEntrance {
    from {
        opacity: 0;
        transform:translateY(-5px);
    }
    to {
        opacity: 1;
    }
}
