.hamburger {
    position: fixed;
    right: 0;
    margin: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 2rem;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #ffcba4;
    z-index: 2;
}

.invertedHamburger {
    position: fixed;
    right: 0;
    margin: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 2rem;
    height: 30px;
    width: 30px;
    background-color: #F1F1EF;
    z-index: 2;
}

.activeMenu {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffcba4;
    z-index: 1;
}

.activeMenu a {
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    color: black;
}

.activeMenu a:hover {
    color: #F1F1EF;
}

.menuTransitionIn {
    animation-name: transitionIn;
    animation-duration: 500ms;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menuTransitionOut {
    animation-name: transitionOut;
    animation-duration: 500ms;
}

@keyframes transitionOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
