.hamburger {
    position: fixed;
    right: 0;
    margin: 10px;
    cursor: pointer;
    border-radius: 2rem;
    height: 20px;
    width: 20px;
    background-color: #0D0D0E;
    z-index: 1000;
}

.invertedHamburger {
    position: fixed;
    right: 0;
    margin: 10px;
    cursor: pointer;
    border-radius: 2rem;
    height: 20px;
    width: 20px;
    background-color: #F1F1EF;
    z-index: 1000;
}

.activeMenu {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0D0D0E;
    z-index: 999;
}

.activeMenu a {
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #F1F1EF;
}

.menuTransitionIn {
    animation-name: transitionIn;
    animation-duration: 500ms;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menuTransitionOut {
    animation-name: transitionOut;
    animation-duration: 500ms;
}

@keyframes transitionOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
